body{
    text-align:center;
}

.container{
    max-width: 600px;
    margin: auto;
}

#output{
    padding: 1rem;
    width: 80%;
    height: 10vh;
    margin: 1rem;
    border: 1px solid black;
    background: white;
}

#heading{
    padding: 1.5rem;
    background-color: #fde24f;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: forwards;
    background: rgb(226,226,50);
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    
}




#btn-translate{
    padding: 1rem 1rem;
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    font-size: larger;
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border: none;
    cursor: pointer;
}

#btn-translate:hover{
    background-position: left center;
    color: #fff;
}

.bg{background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    }